 .container-fluid {
     width: 95%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }

 .left_block {
     background: #d7d7d9;
     box-shadow: 0px 0px 21px #000;
     border: 2px solid #000;
 }

 .left_contents_block {
     padding-left: 33px;
 }

 .header_title {
     background: #272727;
     height: 37px;
     margin-top: 11px;
     color: #d3d2d7;
     padding: 5px;
     padding-left: 46px;
     position: relative;
 }

 .header_title_right_col {
     background: #dfdee3;
     height: 37px;
     margin-top: 46px;
     color: #252525;
     padding: 5px;
     padding-left: 68px;
     position: relative;
 }

 .small_circle_title_right {
     width: 70px;
     height: 70px;
     background: #dfdee3;
     border-radius: 100px;
     position: absolute;
     top: -19px;
     left: -10px;
     color: #252525;
     border: 3px solid #252525;
     text-align: center;
     font-size: 34px;
     line-height: 61px;
 }

 .small_circle_title {
     width: 50px;
     height: 50px;
     background: #2b2b2b;
     border-radius: 100px;
     position: absolute;
     top: -8px;
     left: -10px;
     border: 3px solid #d1d0d5;
     text-align: center;
     font-size: 27px;
 }

 p {
     color: #48474c;
     padding: 8px;
     margin-top: 5px;
     padding-bottom: 0px;
     margin-bottom: 0px;
 }

 .hStyle {
     padding: 8px;
     padding-top: 12px;
     padding-bottom: 5px;
 }

 .padding-left {
     padding-left: 8px;
 }

 .padding-bottom {
     padding-bottom: 15px;
 }

 .exper_contant {
     color: #d3d2d7;
     margin-top: 39px;
     border-left: 3px solid #CCC;
     margin-left: 0px;
 }


 .fa-circle:before {
     content: "\f111";
     margin-left: -8px;
     margin-right: 5px;
     font-size: 13px;
 }

 .exper_contant h6:nth-of-type(even) {
     font-size: 11px;
     color: #eee0cd;
     margin-left: -14px;
     text-transform: uppercase;
 }


 h6.job-location {
     margin-top: 16px;
     border-top: 1px solid;
     padding-top: 17px;
 }

 h6.job-location:first-child {
     border-top: 0px;
 }

 .exper_contant h6 {
     color: antiquewhite;
 }

 .exper_contant span {
     font-size: 12px;
     float: right;
 }

 .exper_contant p {
     color: #d3d2d7;
 }

 .cir_number {
     width: 50px;
     height: 50px;
     border: 3px solid #000;
     border-radius: 37px;
     text-align: center;
     line-height: 42px;
     font-size: 27px;
     background: #d7dbdc;
     box-shadow: 0px 0px 10px #000;
     color: #101415;
     font-weight: bolder;
     margin-top: 32px;
     margin-left: -10px;
 }

 .line {
     color: #d7dbdc;
     transform: rotate(90deg);
     position: relative;
     z-index: -1;
 }

 .line_one {
     margin-bottom: 65px;
 }

 .skills {
     margin-top: 31px;
     color: #d7dbdc;
     margin-left: -25px;
 }

 .skills p {
     color: #d7dbdc;
 }

 .skills p span {
     border: 1px solid #000;
     padding: 6px;
     display: inline-block;
     margin: 5px;
     margin-left: 0px;
     margin-right: 9px;
     box-shadow: 0px 0px 5px #000;
 }

 @media only screen and (min-width: 768px) and (max-width: 1024px) {
     .left_contents_block {
         padding-left: 15px !important;
     }

     .exper_contant {
         margin-left: 0px !important;
     }

     .skills {
         margin-left: 0px !important;
     }

     .left__circle_numbers {
         display: none !important;
     }
 }

 @media screen and (min-width: 320px) and (max-width: 767px) {
     .left_contents_block {
         padding-left: 5px !important;
         padding-right: 0px !important;
     }

     .exper_contant {
         margin-left: 0px !important;
     }

     .skills {
         margin-left: 0px !important;
     }

     .left__circle_numbers {
         display: none !important;
     }
 }

 .cirtificate-info{
     margin-left: 10px;
 }

 .skills {
     color: #d3d2d7;
     margin-top: 39px;
     border-left: 3px solid #CCC;
     margin-left: 0px;
     padding: 0px;
 }